$color: rgba(255, 157, 0, 0.952);
$shadowColor: rgba(255, 157, 28, 0.726);
$boxshadowColor: rgba(12, 8, 4, 0.726);

@media (min-width: 1200px) {
	.buttons-container {
		transform: scale(1, 1);
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.buttons-container {
		transform: scale(0.85, 0.85);
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.buttons-container {
		transform: scale(0.8, 0.8);
	}
}
@media (min-width: 560px) and (max-width: 768px) {
	.buttons-container {
		transform: scale(0.78, 0.78);
	}
}
@media (min-width: 0px) and (max-width: 560px) {
	.buttons-container {
		transform: translate(20px, -20px);
		transform: scale(0.72, 0.72);
	}
}
.buttons-container {
	width: 97px;
	z-index: 999;
	position: fixed;
	display: flex;
	top: 30px;
	border-radius: 45px;
	right: 10px;
	box-shadow: inset 0 0 5px 9px rgba(0, 0, 0, 0.911);
	ul {
		padding: 0px;
		width: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: inherit;
		margin: 10px auto;
		list-style: none;
	}
	li {
		vertical-align: center;
		text-align: center;
		margin: 1px;
		display: flex;
		height: 50px;
		width: 50px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 15px;
		font-size: 40px;
		color: gray;
		transition: all 0.5s;
		background: #202020;
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
		&:nth-of-type(1) {
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
		}
		&:last-of-type {
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 50px;
		}
		&:hover {
			cursor: pointer;
		}
		a {
			display: inline-block;
			color: gray;
			text-decoration: none;
			font-size: 40px;
			transition: all 0.5s;
		}
	}
}

.active-text {
	animation: blink 3s linear infinite;
	color: $color !important;
	text-shadow: 0 0 1px $shadowColor;
}

.fas,
.far {
	width: inherit;
}

.active {
	animation: blink3 3s linear infinite;
	background: #151515 !important;
	border-top: none !important;
	border-bottom: 1px solid #252525 !important;
	box-shadow: inset 0 0 10px 0px $shadowColor !important;
}

@keyframes blink {
	10% {
		//opacity: 0;
		color: $color;
		text-shadow: 0 0 1px $shadowColor;
	}
	30% {
		color: $color;
		text-shadow: 0 0 3px $shadowColor;
	}
	50% {
		color: $color;
		text-shadow: 0 0 5px $shadowColor;
	}
	70% {
		color: $color;
		text-shadow: 0 0 3px $shadowColor;
	}
	90% {
		color: $color;
		text-shadow: 0 0 1px $shadowColor;
	}
}
@keyframes blink3 {
	10% {
		box-shadow: inset 0 0 5px 2px $boxshadowColor;
	}
	30% {
		box-shadow: inset 0 0 15px 3px $boxshadowColor;
	}
	50% {
		box-shadow: inset 0 0 5px 2px $color;
	}
	70% {
		box-shadow: inset 0 0 15px 3px $boxshadowColor;
	}
	90% {
		box-shadow: inset 0 0 5px 2px $boxshadowColor;
	}
}
